<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Usuários</ion-card-title>
      <ion-card-subtitle>Cadastro</ion-card-subtitle>
      <img src="../assets/users.jpg">
    </ion-card-header>
  </ion-card>
<ion-card>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>
  
  <ion-button class="center" color="danger" (click)="cancelar()">Cancelar</ion-button>
  <ion-button class="center" color="success" (click)="salvar()">Salvar</ion-button>


</ion-card>



</ion-content>
